body {
	background-color: #d9f3fc;
}

h1 {
	text-align: center;
	font-family: "Oswald";
	color: #7e7e7e;
	font-size: 28px;
}

h2 {
	font-family: "Oswald";
	font-size: 22px;
	color: #a8a8a8;
	text-align: center;
}

.createNote {
	text-align: center;
}

.textbox {
	width: 200px;
	height: 25px;
	font-family: "Oswald";
	font-size: 14px;
}

.createNote_add ul {
	color: #a8a8a8;
	text-align: center;
	font-family: "Oswald";
}

a:link {
    color: #7e7e7e;
    text-decoration: none;
    font-family: "Oswald";
}

a:visited {
    color: #7e7e7e;
    text-decoration: none;
    font-family: "Oswald";
}

a:hover {
  	text-decoration: underline;
}

button {
	font-family: "Oswald";
	padding: 8px 8px 8px 8px;
	font-size: 14px;
	color: #7e7e7e;
}

button:hover {
  background: #d3d3d3;
}
